:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --button-color: #007bff;
    --button-text-color: #ffffff;
  }
  
  body.dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
    --button-color: #1e88e5;
    --button-text-color: #000000;
  }

  .toggle-container {
    font-size: 14px;
    color: black;
  }
  
  body {
    background-image: url(https://cdn.dealeraccelerate.com/stlouis/1/1595/50685/1920x1440/1969-dodge-charger);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    margin: 20px 0;
  }
  
  label {
    display: block;
    margin: px 0;
  }
  
  input {
    margin-left: 10px;
  }
  
  button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  #results {
    margin-top: 20px;
  }
  
  .toggle-container {
    margin-top: 20px;
  }
  